body {
    background-color: ghostwhite;
}

a {
    color: deepskyblue;
}

a:hover {
    text-decoration: underline;
}

.form{
    padding-top: 130px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
    width: 25%;
    padding: 10px 15px 25px 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-container {
    padding: 16px;
}

.logo {
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 1rem;
    border: 1px solid #D3D3D3;
    padding: 10px 10px;
    width: 100%;
}

input:focus {
    outline: none !important;
    border: 1px solid #242526;
}

.buton-layout {
    text-align: center;
}

.invalid-feedback {
    color: red
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.item2 {
    text-align: right
}

button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}